*{
    padding: 0;
    margin: 0;
}
.nav {
    float: right;
    padding-top: .6%;
  
}
.nav-item {
    padding: 5px;
    color: blanchedalmond;
    font-family:monospace;
}
.nav-link {
    color: rgb(0, 128, 11);
    /* border: 2px solid white; */
    margin-right: 20px;
    border-radius: .4em;
    font-family: monospace;
    font-weight: bolder;
}
.nav-link:hover{
    background-color: teal;
    color: white;
}
/* DISCRIPTION */














/* footer */

footer {
    margin: 0%;
}


.foot {
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
}

.copyright {
    text-align: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white;
    color: rgb(43, 49, 49);

}

.footer {
    background-color:rgb(43, 49, 49);
    margin: 0%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: white;
}



.logos {
    padding-left: 20%;
    padding-right: 20%;

}

.link {
    text-decoration: none;
}